body {
    font-family: 'Open Sans', sans-serif;
    line-height: 175%;
    font-size: 150%;
    background-color: #ebebeb;
    color: gray
}

@media (min-width: 360px) and (max-width: 812px) {
    body {
      font-size: small;
    }
}

.intro {
    width: 40%;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    margin: 2em auto 2em auto;
    padding: 35px;
}
@media (min-width: 360px) and (max-width: 812px) {
    .intro {
        font-size: small;
        width: 80%;
    }
}

.Tim {
    border: 4px solid gray;
    border-radius: 50%;
}

h1 {
    color: #f05454;
    font-size: 175%;
    font-weight: 800;
}

.sub {
    font-size: 125%;
}

.who-is {
    text-align: justify;
}

.link {
    background-color: #f05454;;
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 110%;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.social {
    width: 40%;
    background-color: white;
    border-radius: 8px;
    margin: 2em auto 2em auto;
    text-align: center;
    line-height: normal;
    padding: 35px;
}

@media (min-width: 360px) and (max-width: 812px) {
    .social {
        font-size: small;
        width: 80%;
    }
}

ul {
    list-style-type: none;
    padding: 20px 20px 20px 20px;
}

li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}


.social a {
    color: gray;
    text-decoration: none;
}

.fab {
    font-size: 150%;
}

.movie {
    width: 40%;
    background-color: white;
    border-radius: 8px;
    margin: 2em auto 2em auto;
    text-align: center;
    font-size: 105%;
    padding: 35px;
}

@media (min-width: 360px) and (max-width: 812px) {
    .movie {
        font-size: small;
        width: 80%;
    }
}

mark {
    background-color: lightgray;
    color: inherit;
}

.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5%;
}
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 4; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 4; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 4; } 

.description {
    text-align: justify;
}